{% load django_vite %}
{% load js_routes_tags %}
{% load static%}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">

    <!-- bootstrap -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap-grid.min.css" 
      integrity="sha512-i1b/nzkVo97VN5WbEtaPebBG8REvjWeqNclJ6AItj7msdVcaveKrlIIByDpvjk5nwHjXkIqGZscVxOrTb9tsMA==" 
      crossorigin="anonymous" 
      referrerpolicy="no-referrer" 
    />

    <!-- vite -->
    {% vite_hmr_client %} 
    {% vite_asset 'js/main.js' %}

    <title>Django-Inertia</title>
  </head>
  <body>
    <!-- inertia block -->
    {% block inertia %} 
    {% endblock %}

    {% js_routes %}
  </body>
</html>
